{% extends 'base.html.twig' %}

{% block title %}
    {{ad.title}}
{% endblock %}

{% block body %}

    <div class="ad-title" style="background-image: url('{{ asset('image/xbox.jpg') }}')">
        <div class="container">
            <h1>{{ad.title}}</h1>
            <p>{{ ad.introduction}}</p>
            <p class="h2">
                <strong>{{ad.rooms}} chambres</strong> {{ad.price}}&euro;
            </strong> par nuit 
            </p>
            <a href="#" class="btn btn-primary">Réserver !</a>
        </div>
    </div>


    <div class="container mt-3">
            <div class="row">
                <div class="col-md">
                    <div class="card bg-light mb">
                        <div class="card-header text-center">
                            {{ad.rooms }} chambres, <strong>{{ad.price}}&euro; / nuit</strong><br>
                            <small>Pas ecore noté !</small>
                        </div>
                                <div class="card-body">   
                                    <h4 class="card-title">
                                       {{ ad.title }}
                                    </h4>
                                    <p class="card-text">
                                       {{ad.introduction }}
                                    </p>

                                    <p class="card-img ">
                                        <img src="{{ad.coverImage}}" alt="HautStanding" sytle="height:200px; width: 100%; display: block;">
                                            Lorem, ipsum dolor sit amet consectetur adipisicing elit. Corrupti rerum nostrum sequi tempore ullam voluptas omnis ab enim iure. Officia libero architecto excepturi expedita laboriosam nesciunt ea facilis facere quo.
                                            Consectetur sit aliquam ut, odio ratione velit vero, nemo beatae aut ab tempore magnam, eveniet doloribus. Distinctio eveniet soluta hic neque sequi odit, itaque consectetur dolore, in recusandae, eius et.
                                            Voluptates iste eligendi exercitationem reiciendis quia vel possimus obcaecati aliquid. Facere dolore, autem cupiditate architecto explicabo reiciendis, tempora ex culpa commodi quibusdam magni hic! Aperiam assumenda repudiandae sequi ipsa quam?
                                            Numquam recusandae aspernatur, neque eveniet quaerat laboriosam ad hic maiores veniam dolores. Reiciendis, porro veritatis nam quos debitis mollitia laudantium deserunt inventore laborum eius. Beatae voluptatibus vitae dolore molestias asperiores!
                                            Totam at provident excepturi culpa harum obcaecati recusandae et officia aperiam laboriosam? Dolore mollitia minus quas, sunt quibusdam similique maxime, nesciunt qui a voluptas quam eligendi provident, nisi laborum id?
                                            Ut fuga ab et laboriosam in eum doloremque alias error esse id recusandae, molestias, quae sequi? Repudiandae quos placeat quidem numquam perferendis exercitationem, maiores aspernatur fugit tempore magni, facere amet!
                                            Facilis temporibus eos esse, quo quidem sed repellat doloremque exercitationem tempore eveniet porro quibusdam, nostrum aut nam voluptas labore provident ab quos id itaque ipsa cum? Deleniti, commodi corporis! Accusantium!
                                            Est unde alias sed ea earum, eum ullam temporibus labore maiores, exercitationem inventore sapiente nemo nostrum provident doloremque quo iste quidem obcaecati nihil nesciunt? Quae deserunt repudiandae repellat totam. Tempore.
                                            Fuga ad exercitationem, sit eos eum nam aliquid molestiae fugiat blanditiis officia facere atque architecto nobis modi consectetur nostrum eaque itaque perspiciatis rem repellat laudantium, perferendis quae! Cupiditate, et modi.
                                            Quaerat velit praesentium expedita, dolor odio veniam neque, voluptatum sapiente laboriosam cum incidunt nesciunt doloribus animi minima iusto et ex voluptatem consectetur totam vitae nemo autem enim vero! Amet, sint.
                                            Molestiae laboriosam harum recusandae corrupti neque nobis cupiditate eius quaerat, est laudantium quisquam libero molestias fuga esse quam quos impedit quo consequatur rem numquam maxime nisi at repellat. Aliquam, molestiae!
                                            Accusantium aspernatur illo possimus vero debitis officia explicabo unde alias maxime praesentium deleniti quibusdam molestiae animi provident suscipit cumque quas est officiis dolorum minima, assumenda quo atque? Est, necessitatibus mollitia.
                                            Modi explicabo asperiores dolore id quisquam repellat vero incidunt error nobis vitae provident illum, cupiditate molestias, impedit voluptas fugiat eius distinctio iusto totam suscipit rem. Accusamus magnam illum consectetur eaque?
                                            Eligendi veritatis eaque nesciunt odit eveniet illo provident iure vitae quos, labore aliquam rem expedita voluptatibus. Hic magnam quas, temporibus officia ipsa consequuntur voluptas suscipit error voluptatibus. Ut, quia culpa.
                                            Quam porro repellendus, doloribus architecto eaque ratione esse exercitationem beatae minus dolorum vero quos? Aut laboriosam, debitis, vitae natus dolorem porro reiciendis iusto quas, ex iure pariatur voluptates? Mollitia, suscipit.
                                            Deserunt sint consequatur, fugiat quas praesentium aut possimus similique aliquid? Sint ipsa modi architecto quisquam quasi, mollitia nulla aperiam, harum sed accusamus aspernatur! Magni numquam corporis neque sint ipsam? Eius!
                                            Sit iure at expedita natus dignissimos, soluta veniam quos libero fugiat excepturi ad dolorum tempora tempore dolore doloremque delectus eaque officia, explicabo necessitatibus? Nobis quaerat non recusandae repudiandae. Obcaecati, dolor.
                                            Modi amet aliquid perferendis possimus minima ut odit labore deleniti ducimus beatae sed, eaque iusto qui! Consectetur hic, nostrum in placeat obcaecati magnam, nihil quod rem quasi reiciendis molestiae atque!
                                            Tempora ratione, voluptates vitae distinctio tempore autem consequatur qui temporibus quam nihil. Repellat omnis id ea deleniti laudantium nam, quos necessitatibus a eos veniam voluptas? Consequatur accusantium exercitationem quis. Tempore!
                                            Quod tenetur, magni ullam provident sed rem. Nostrum fuga maxime architecto quaerat. Exercitationem excepturi ex, sit, sed provident voluptatum temporibus veritatis aliquam fugit repudiandae voluptatem corporis quam fuga quaerat assumenda?
                                            Dolorum, repellat! Temporibus distinctio natus, eaque aut quas veniam fuga animi libero reprehenderit labore atque repellendus perspiciatis cumque rerum, quod sunt corrupti. Impedit sequi facere unde incidunt eum neque beatae?
                                            Modi expedita, quam maiores optio enim, inventore id eligendi obcaecati excepturi rerum est iure recusandae esse laudantium! Excepturi eum fugit iste necessitatibus aperiam, veniam sequi accusantium repellat dicta tempore sint?
                                            Aut, odio quidem molestiae maxime alias nemo, sit ipsa quisquam voluptatum laborum voluptas beatae, dolores repellat. Inventore itaque quidem odio aut quibusdam, explicabo earum natus voluptas aspernatur aliquam voluptatum voluptate.
                                            Numquam animi ab iure id at culpa odit necessitatibus laborum natus quisquam tenetur, doloribus fugiat accusantium doloremque assumenda. Expedita, enim cum? Odio dolores atque voluptates illum voluptatum! Eius, illo culpa.
                                            Nulla totam cum beatae quas unde. Provident laudantium recusandae non maxime culpa optio praesentium perspiciatis. Rem accusamus corrupti earum atque consequuntur ullam enim nobis deserunt facere. Praesentium incidunt modi deserunt.
                                            Quis impedit, iusto autem recusandae hic odio ut commodi, alias totam sit perspiciatis ab non a eum esse velit quod neque! Iusto itaque perferendis mollitia optio nam? Saepe, sit ipsum?
                                            Cupiditate aperiam vel, perspiciatis, officiis iure modi at et ratione exercitationem saepe dolorum, dolores optio porro dolor voluptatum molestias suscipit? Quos cupiditate minus doloribus aut laborum tempore exercitationem sequi vel?
                                            Laudantium culpa sequi inventore quis ea, fuga suscipit veritatis id soluta laboriosam vitae debitis impedit aliquam voluptas temporibus error obcaecati nemo? Obcaecati tempora labore possimus consequuntur? Sapiente quisquam suscipit eveniet.
                                            Quisquam quae, tempore deleniti itaque dicta animi quo quas non aliquam consequatur aspernatur maiores vero enim necessitatibus explicabo voluptatum ex nihil cumque rerum laudantium consectetur reprehenderit. Labore ducimus ipsum deserunt!
                                    </p>
        
                                    <a href="" class="btn btn-primary">
                                        Réserver !
                                    </a>
                                </div>
                    </div>
                </div>
            </div>
    </div>

    {# Carroussel #}


{# Carroussel #}

    <div class="container-fluid">
            <div class="row">
                <div class="col-md-4">
                   
                </div>
                <div class="col">
                    <h3>{{ad.title}}</h3>
                    <div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
  <div class="carousel-inner">
  {% for image in ad.images %}
    <div class="carousel-item  {% if loop.first %} active {% endif %}">
      <img src="{{image.url}}" class="d-block w-100" alt="...">
    </div>
    {% endfor %}
   
  </div>
 <button class="carousel-control-prev" type="button" data-target="#carouselExampleControls" data-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-target="#carouselExampleControls" data-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </button>
</div>
                    <span class="badge badge-primary">{{ ad.rooms }} Chambres </span>
                </div>
            </div>
    </div>




{% endblock %}